# Игнорирование виртуального окружения
venv/

# Игнорирование временных файлов
*.pyc
__pycache__/

# Игнорирование настроек и данных базы данных
*.sqlite3

# Игнорирование данных media/uploads
media/

# Игнорирование файлов среды и конфигурации
.env

# Игнорирование миграций (если хочешь оставить миграции, убери эту строку)
*/migrations/
